* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  min-height: 100vh;
}

#main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
  position: relative;
}

.filter-links a, .filter-links a:hover, .filter-links a:visited, .filter-links a:focus, .filter-links a:active {
  text-decoration: none;
  color: black;
  outline: 0;
  cursor: pointer;
}

.header-logo {
  font-size: 2.5rem;
}

nav.filter-links {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-links a {
  font-size: 1.5rem;
}

.filter-links a:hover {
  text-decoration: underline;
}

.filter-links a.active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  row-gap: 15px;
}

.book-card, .add-book-button {
  width: min(800px, 85vw);
  position: relative;
  border: 1px solid black;
  font-size: 1.4rem;
}

.progress-background {
  position: absolute;
  height: 100%;
  background-color: lightgreen;
  z-index: -9999;
}

.book-card-content {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  column-gap: 1rem;
  max-width: 100%;
}

.book-card-content-title-author {
  max-width: 100%;
}

.book-card-content-title-author .author {
  font-style: oblique;
}

.book-card-content-title-author p {
  overflow-wrap: break-word;
  max-width: 100%;
}

.book-card img {
  height: 1.4rem;
  width: 1.4rem;
}

.book-card-content-title-author {
  flex: 9999 1 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  row-gap: 0.2rem;
}

.book-card-content-pages-options {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
}

.book-card-content-pages-options > .pages {
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
}

.book-card-content-pages-options > .options {
  display: flex;
  column-gap: 0.5rem;
}

.add-book-button {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* Add/Edit book form */

#popup-container {
  top: 0;
  left: 0;
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  display: none;

}

#add-edit-book {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border: 1px solid black;
  font-size: 1.4rem;
  width: min(40ch, 85%);
  background-color: white;
  max-height: 90vh;
  overflow-y: scroll;
}

#add-edit-book h2{
  text-align: center;
  margin: 0.5rem 0;
}

#add-edit-book .form-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3rem;
  margin: 20px 0;
}

.input-textual-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-textual-container input {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.input-textual-container label {
  font-size: 0.9rem;
  font-weight: bold;
}

.input-textual-container .error-message {
  font-size: 0.8rem;
  visibility: hidden;
}

.short-input {
  width: min(6ch, 30%);
}

.long-input {
  width: min(35ch, 80%);
}

.add-edit-book-button-container button {
  width: 15ch;
  height: 2rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.add-edit-book-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.2rem 0 0.5rem 0;
  column-gap: 2rem;
  row-gap: 1rem;
  padding: 0 30px;
}

.input-textual-container input.invalid, .input-textual-container input.invalid:focus{
  border-color: red;
  outline: none;
}

.input-textual-container input:focus {
  border-width: 2px;
}

.invalid + .error-message {
  color: red;
  visibility: visible;
}
